.light {
  height: 5em;
  width: 5em;
  border-radius: 100px;
}

#score {
  font-weight: bold;
}

#level {
  font-weight: bold;
}

@keyframes glow{
  from {background-color: grey;}
  to {background-color: blue;}
}

.animated {
  animation-name: glow;
  animation-duration: 0.2s;
}

@media (min-width: 576px) {
  body {
    background-color: #f4f4f4;
  }
  .light {
    height: 150px;
    width: 150px;
    border-radius: 100px;
  }
}