.light {
  height: 5em;
  width: 5em;
  border-radius: 100px;
}

#score {
  font-weight: bold;
}

#level {
  font-weight: bold;
}

@media (min-width: 576px) {
  body {
    background-color: #f4f4f4;
  }
  .light {
    height: 150px;
    width: 150px;
    border-radius: 100px;
  }
}